DMS/Service References/Service/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://10.100.17.44/Flo.Engine/Service.svc?xsd=xsd4" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://10.100.17.44/Flo.Engine/Service.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://10.100.17.44/Flo.Engine/Service.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Flo.Workbench.Domain.Model" />
      <xsd:import schemaLocation="http://10.100.17.44/Flo.Engine/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://10.100.17.44/Flo.Engine/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Initialize_InputMessage">
    <wsdl:part name="parameters" element="tns:Initialize" />
  </wsdl:message>
  <wsdl:message name="IService_Initialize_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateHumanTask_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHumanTask" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateHumanTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateHumanTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Initialize">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/Initialize" message="tns:IService_Initialize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InitializeResponse" message="tns:IService_Initialize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateHumanTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateHumanTask" message="tns:IService_UpdateHumanTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateHumanTaskResponse" message="tns:IService_UpdateHumanTask_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Initialize">
      <soap:operation soapAction="http://tempuri.org/IService/Initialize" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateHumanTask">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateHumanTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://10.100.17.44/Flo.Engine/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>