DMS/Web References/FAS_web_ref/SaleInvoice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportSaleInvoice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SIDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ItemIDs">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportSaleInvoiceResponse">
        <s:complexType />
      </s:element>
      <s:element name="ImportSaleInvoiceByLocation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SIDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="LocationID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="OfficeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CompanyType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="BusinessDivisionID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SIType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SystemSource" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BranchID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TypeOfExtension" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ItemIDs">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportSaleInvoiceByLocationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportSaleInvoiceByLocationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImportSaleInvoiceByLocation1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SIDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="LocationID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="OfficeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CompanyType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="BusinessDivisionID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SIType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SystemSource" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BranchID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TypeOfExtension" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ItemIDs">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lstSaleInvoiceTagged" type="tns:ArrayOfReceiptTagged" />
            <s:element minOccurs="1" maxOccurs="1" name="DebitNoteBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfReceiptTagged">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ReceiptTagged" nillable="true" type="tns:ReceiptTagged" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ReceiptTagged">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SourceJournalID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DestinationJournalID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SubLedgerID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Amount" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="JournalReference" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="JournalDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="JournalID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TaggedAmount" type="s:decimal" />
        </s:sequence>
      </s:complexType>
      <s:element name="ImportSaleInvoiceByLocation1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImportSaleInvoiceByLocation1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateCreditNote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SIDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="CustomerID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="LocationID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="OfficeID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CompanyID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="CompanyType" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="BusinessDivisionID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="SIType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SystemSource" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="BranchID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TypeOfExtension" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ItemIDs">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="FilePath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="InvoiceNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lstSaleInvoiceTagged" type="tns:ArrayOfReceiptTagged" />
            <s:element minOccurs="1" maxOccurs="1" name="DebitNoteBy" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateCreditNoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateCreditNoteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPrintText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ItemIDs">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPrintTextResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddDebitNotePrintText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ItemIDs">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDebitNotePrintTextResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddCreditNotePrintText">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ItemIDs">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddCreditNotePrintTextResponse">
        <s:complexType />
      </s:element>
      <s:element name="HI">
        <s:complexType />
      </s:element>
      <s:element name="HIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HIResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="ImportSaleInvoiceSoapIn">
    <wsdl:part name="parameters" element="tns:ImportSaleInvoice" />
  </wsdl:message>
  <wsdl:message name="ImportSaleInvoiceSoapOut">
    <wsdl:part name="parameters" element="tns:ImportSaleInvoiceResponse" />
  </wsdl:message>
  <wsdl:message name="ImportSaleInvoiceByLocationSoapIn">
    <wsdl:part name="parameters" element="tns:ImportSaleInvoiceByLocation" />
  </wsdl:message>
  <wsdl:message name="ImportSaleInvoiceByLocationSoapOut">
    <wsdl:part name="parameters" element="tns:ImportSaleInvoiceByLocationResponse" />
  </wsdl:message>
  <wsdl:message name="ImportSaleInvoiceByLocation1SoapIn">
    <wsdl:part name="parameters" element="tns:ImportSaleInvoiceByLocation1" />
  </wsdl:message>
  <wsdl:message name="ImportSaleInvoiceByLocation1SoapOut">
    <wsdl:part name="parameters" element="tns:ImportSaleInvoiceByLocation1Response" />
  </wsdl:message>
  <wsdl:message name="CreateCreditNoteSoapIn">
    <wsdl:part name="parameters" element="tns:CreateCreditNote" />
  </wsdl:message>
  <wsdl:message name="CreateCreditNoteSoapOut">
    <wsdl:part name="parameters" element="tns:CreateCreditNoteResponse" />
  </wsdl:message>
  <wsdl:message name="AddPrintTextSoapIn">
    <wsdl:part name="parameters" element="tns:AddPrintText" />
  </wsdl:message>
  <wsdl:message name="AddPrintTextSoapOut">
    <wsdl:part name="parameters" element="tns:AddPrintTextResponse" />
  </wsdl:message>
  <wsdl:message name="AddDebitNotePrintTextSoapIn">
    <wsdl:part name="parameters" element="tns:AddDebitNotePrintText" />
  </wsdl:message>
  <wsdl:message name="AddDebitNotePrintTextSoapOut">
    <wsdl:part name="parameters" element="tns:AddDebitNotePrintTextResponse" />
  </wsdl:message>
  <wsdl:message name="AddCreditNotePrintTextSoapIn">
    <wsdl:part name="parameters" element="tns:AddCreditNotePrintText" />
  </wsdl:message>
  <wsdl:message name="AddCreditNotePrintTextSoapOut">
    <wsdl:part name="parameters" element="tns:AddCreditNotePrintTextResponse" />
  </wsdl:message>
  <wsdl:message name="HISoapIn">
    <wsdl:part name="parameters" element="tns:HI" />
  </wsdl:message>
  <wsdl:message name="HISoapOut">
    <wsdl:part name="parameters" element="tns:HIResponse" />
  </wsdl:message>
  <wsdl:portType name="SaleInvoiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportSaleInvoice">
      <wsdl:input message="tns:ImportSaleInvoiceSoapIn" />
      <wsdl:output message="tns:ImportSaleInvoiceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportSaleInvoiceByLocation">
      <wsdl:input message="tns:ImportSaleInvoiceByLocationSoapIn" />
      <wsdl:output message="tns:ImportSaleInvoiceByLocationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImportSaleInvoiceByLocation1">
      <wsdl:input message="tns:ImportSaleInvoiceByLocation1SoapIn" />
      <wsdl:output message="tns:ImportSaleInvoiceByLocation1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateCreditNote">
      <wsdl:input message="tns:CreateCreditNoteSoapIn" />
      <wsdl:output message="tns:CreateCreditNoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPrintText">
      <wsdl:input message="tns:AddPrintTextSoapIn" />
      <wsdl:output message="tns:AddPrintTextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDebitNotePrintText">
      <wsdl:input message="tns:AddDebitNotePrintTextSoapIn" />
      <wsdl:output message="tns:AddDebitNotePrintTextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddCreditNotePrintText">
      <wsdl:input message="tns:AddCreditNotePrintTextSoapIn" />
      <wsdl:output message="tns:AddCreditNotePrintTextSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="HI">
      <wsdl:input message="tns:HISoapIn" />
      <wsdl:output message="tns:HISoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SaleInvoiceSoap" type="tns:SaleInvoiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportSaleInvoice">
      <soap:operation soapAction="http://tempuri.org/ImportSaleInvoice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportSaleInvoiceByLocation">
      <soap:operation soapAction="http://tempuri.org/ImportSaleInvoiceByLocation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportSaleInvoiceByLocation1">
      <soap:operation soapAction="http://tempuri.org/ImportSaleInvoiceByLocation1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCreditNote">
      <soap:operation soapAction="http://tempuri.org/CreateCreditNote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPrintText">
      <soap:operation soapAction="http://tempuri.org/AddPrintText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDebitNotePrintText">
      <soap:operation soapAction="http://tempuri.org/AddDebitNotePrintText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCreditNotePrintText">
      <soap:operation soapAction="http://tempuri.org/AddCreditNotePrintText" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HI">
      <soap:operation soapAction="http://tempuri.org/HI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SaleInvoiceSoap12" type="tns:SaleInvoiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportSaleInvoice">
      <soap12:operation soapAction="http://tempuri.org/ImportSaleInvoice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportSaleInvoiceByLocation">
      <soap12:operation soapAction="http://tempuri.org/ImportSaleInvoiceByLocation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportSaleInvoiceByLocation1">
      <soap12:operation soapAction="http://tempuri.org/ImportSaleInvoiceByLocation1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCreditNote">
      <soap12:operation soapAction="http://tempuri.org/CreateCreditNote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPrintText">
      <soap12:operation soapAction="http://tempuri.org/AddPrintText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDebitNotePrintText">
      <soap12:operation soapAction="http://tempuri.org/AddDebitNotePrintText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCreditNotePrintText">
      <soap12:operation soapAction="http://tempuri.org/AddCreditNotePrintText" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HI">
      <soap12:operation soapAction="http://tempuri.org/HI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SaleInvoice">
    <wsdl:port name="SaleInvoiceSoap" binding="tns:SaleInvoiceSoap">
      <soap:address location="http://10.100.7.201:4213/NewSaleInvoice/SaleInvoice.asmx" />
    </wsdl:port>
    <wsdl:port name="SaleInvoiceSoap12" binding="tns:SaleInvoiceSoap12">
      <soap12:address location="http://10.100.7.201:4213/NewSaleInvoice/SaleInvoice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>